:root {
  --white: #f2f2f2;
  --darkRed: #d93e30;
  --red: #f23535;
  --tan: #d9cbba;
  --darkBlue: #01062b;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2vw;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav li:not(:first-child) {
    opacity: 0;
  }

  .topnav .icon {
    display: block;
    color: #fff;
    font-size: 22px;
    position: absolute;
    right: 16px;
    top: 16px;
    text-align: right;
  }
}
.topnav li {
  margin-right: 40px;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive li {
    opacity: 1;
  }

  .topnav ul {
    flex-direction: column;
  }

  .topnav.responsive ul .hv:hover::after,
nav li.active::after {
    background: none;
  }
}
.landing {
  position: relative;
  height: 100%;
  background: var(--darkBlue);
}
.landing .container {
  max-width: 786px;
  height: 100%;
  padding-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/lg_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
}

nav {
  flex-grow: 1;
}

nav ul {
  width: 100%;
  max-width: 786px;
  margin: 0 auto;
  padding: 16px;
  font-size: 16px;
  position: relative;
  z-index: 999;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin: 0 10px;
  transition: opacity 0.3s;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.hv::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 0;
  background: var(--red);
  transition: width 300ms ease-out;
}

.hv {
  position: relative;
}

.hv:hover::after,
nav li.active::after {
  width: 100%;
  transition: width 300ms ease-out;
}

nav ul li a:hover {
  color: var(--red);
}

.git {
  position: absolute;
  top: 3px;
  left: 20px;
  border: 3px solid #fff;
  padding: 0 10px;
  font-size: 1.8em;
}

.git:hover {
  border-color: var(--darkRed);
}

.git:hover a {
  color: var(--darkRed);
}

header {
  padding-top: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 999;
  font-size: 32px;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.7em;
  font-weight: 400;
  letter-spacing: 0.6em;
  color: #fff;
  text-shadow: 3px 3px 30px black;
  text-align: center;
}

.landing p {
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

h1 span {
  color: var(--red);
}

main {
  height: 1200px;
  position: sticky;
  background: #fff;
  top: 0;
}

.scrollDown i {
  font-size: 32px;
  display: block;
  margin-bottom: -16px;
  color: #fff;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.scrollDown i:nth-of-type(2) {
  animation-delay: 0.1s;
}
.scrollDown i:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1500px) {
  header {
    font-size: 22px;
  }
}
/*-----------traits------------*/
.trait_list {
  background-image: url("../img/lg_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}
.trait_list .row {
  --bs-gutter-x: 0;
}
.trait_list .trait {
  background: rgba(17, 17, 17, 0.9);
  color: #fff;
  text-align: center;
  padding: 30px 15px 50px 15px;
}
.trait_list .trait h3 i {
  font-size: 1.5em;
}
.trait_list .trait h3 {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px 0;
}
.trait_list .trait p {
  font-size: 0.7em;
  font-weight: 200;
  max-width: 280px;
  margin: 0 auto;
}
.trait_list .trait:nth-of-type(2n + 1) {
  background: #111111;
}

/*-----------skills------------*/
h2 {
  padding: 40px 0 0 0;
  text-align: center;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 700;
}

.sub-heading {
  padding: 0 0 20px 0;
  text-align: center;
  font-weight: 700;
}

.skills .grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.skills .skill__container {
  padding: 20px;
  background: #111111;
  color: #fff;
}
.skills .skill__container h4 {
  text-align: center;
  margin-bottom: 10px;
}
.skills .skill__container p {
  font-size: 12px;
  font-weight: 200;
}
.skills .skill__container .skill__logo {
  float: left;
  height: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.skills .skill__container .skill__logo i {
  font-size: 36px;
}

@media screen and (max-width: 586px) {
  .skills .skill__container {
    border-radius: 5px;
  }
  .skills .skill__container .skill__logo {
    justify-content: center;
    float: none;
  }
  .skills .skill__container h4,
.skills .skill__container p {
    display: none;
  }
}
/*-------------Projects----------------------*/
.container {
  position: relative;
  text-align: center;
}
.container .project {
  position: relative;
  margin: 10px 60px 30px 60px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.151);
}
.container .project .fau-text {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
.container .project .fau {
  height: 18px;
  display: inline-block;
  margin: 0;
}
.container .project .fau-md {
  height: 22px;
  display: inline-block;
  margin: 0;
}
.container .project h4 i {
  font-size: 0.5em;
  transition: all 0.3s;
  margin: 0;
}
.container .project h4 a {
  color: #000;
  text-decoration: none;
}
.container .project h4 a:hover {
  color: #d93e30;
}
.container .project h4 a:hover i {
  font-size: 0.7em;
}
.container .project p {
  font-size: 12px;
  padding: 6px;
}
.container .project i {
  margin: 10px 6px 25px 6px;
  font-size: 1.2em;
  text-shadow: 2px 2px 2px 2px rgba(56, 56, 56, 0.3);
}

@media screen and (min-width: 768px) {
  .preview {
    position: relative;
    padding: 0;
    overflow: hidden;
  }
  .preview img {
    position: relative;
    filter: blur(0.5px);
    transition: all 0.5s;
  }
  .preview img:hover {
    margin-left: -50px;
    max-width: 150%;
    cursor: zoom-in;
    filter: blur(0);
  }

  .horizantal-line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background: rgba(17, 17, 17, 0.3);
  }

  .col-md-6:first-of-type .project::before {
    content: "";
    position: absolute;
    top: 33%;
    right: -72px;
    padding: 0;
    height: 2px;
    width: 72px;
    background: #aaaaaa;
  }

  .col-md-6:first-of-type .project::after {
    content: "";
    position: absolute;
    top: calc(33% - 6px);
    right: -80px;
    padding: 0;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid #aaaaaa;
    border-radius: 50%;
  }

  .col-md-6:last-of-type .project::before {
    content: "";
    position: absolute;
    bottom: 33%;
    left: -72px;
    padding: 0;
    height: 2px;
    width: 72px;
    background: #aaaaaa;
  }

  .col-md-6:last-of-type .project::after {
    content: "";
    position: absolute;
    bottom: calc(33% - 6px);
    left: -78px;
    padding: 0;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid #aaaaaa;
    border-radius: 50%;
  }

  .col-md-6 .project:hover::before {
    height: 3px;
    background: #d93e30;
  }

  .col-md-6 .project:hover::after {
    border-color: #d93e30;
    background: #d93e30;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .col-md-6:first-of-type .project {
    margin: 10px 60px 30px 0;
  }

  .col-md-6:last-of-type .project {
    margin: 10px 0 30px 60px;
  }
}
/*-------------Contact----------------*/
.contact-wrap {
  width: 100%;
  margin: auto;
  min-height: 670px;
  position: relative;
  background: url(/img/lg_bg.jpg) no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.contact-html {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 90px 70px 50px 70px;
  background: rgba(0, 0, 0, 0.9);
}

.contact-html .contact-htm,
.contact-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.contact-html .contact,
.contact-html .sign-up,
.contact-form .group .check {
  display: none;
}

.contact-html h3,
.contact-form .group .label,
.contact-form .group .button {
  text-transform: uppercase;
}

.contact-html h3 {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: #fff;
  border-color: #d93e30;
}

.contact-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  font-size: 16px;
}

.contact-form .group {
  width: 425px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.contact-form .group .label,
.contact-form .group .input,
.contact-form .group .button {
  width: 100%;
  max-width: 525px;
  color: #fff;
  display: block;
}

.contact-form .group .input,
.contact-form .group .button {
  border: none;
  padding: 11px;
  background: rgba(255, 255, 255, 0.1);
}

.contact-form .group input[data-type=password] {
  text-security: circle;
  -webkit-text-security: circle;
}

.contact-form .group .label {
  color: #aaa;
  font-size: 12px;
}

.contact-form .group .button {
  background: #d93e30;
}

.contact-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.contact-form .group label .icon:before,
.contact-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.contact-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.contact-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.contact-form .group .check:checked + label {
  color: #fff;
}

.contact-form .group .check:checked + label .icon {
  background: #d93e30;
}

.contact-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.contact-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.contact-html .contact:checked + .tab + .sign-up + .tab + .contact-form .contact-htm {
  transform: rotate(0);
}

.contact-html .sign-up:checked + .tab + .contact-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot-lnk {
  text-align: center;
  color: #aaaaaa;
}

input:focus,
textarea:focus {
  outline: -webkit-focus-ring-color none;
}

@media screen and (max-width: 1000px) {
  .skills .skill__container .skill__logo {
    height: auto;
    padding-right: 10px;
  }
  .skills h4 {
    font-size: 19px;
    line-height: 36px;
  }

  h2 {
    font-size: 48px;
  }
}
.menu {
  height: 26px;
  width: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}