:root {
  --white: #F2F2F2;
  --darkRed: #D93E30;
  --red: #F23535;
  --tan: #D9CBBA;
  --darkBlue: #01062b;
}
$graymax: rgb(17, 17, 17);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body,
html {
  height: 100%;
}
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 2vw;
}



.landing {

display: grid;
grid-template-rows: min-content 1fr;
position:relative;
  height: 100%;
  background: var(--darkBlue);
}

#particles-js {

position: absolute;
top:0;
left: 0;
 width: 100%;
  height: 100%;
}

.bg {
position: absolute;
height: 100%;
width: 100%;
background-image: url("../img/lg_bg.jpg");
opacity: 0.1;
}

nav ul{
padding: 1.2em;
position: relative;
z-index: 999;
list-style-type: none;
display: flex;
justify-content: flex-end;
}

nav ul li {
margin: 0 10px;
}

nav ul li a {
display: inline-block;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-size: 1em;
}
.hv::after {
content: '';
display: block;
position: absolute;
left: 0;
bottom: -10px;
height: 3px;
width: 0;
background: var(--red);
transition: none;
}
.hv {
position: relative;
}
.hv:hover::after,
nav li.active::after {
width: 100%;
transition: width 300ms ease-out;
}

nav ul li a:hover {
color: var(--red);
}
.git {
position: absolute;
top: 10px;
left: 20px;
border: 3px solid #fff;
padding: 0 10px;
font-size: 1.8em;
}

.git:hover {

border-color: var(--darkRed);
}

.git:hover a {
color: var(--darkRed);
}

header {
max-width: 795px;
margin: 0 auto;
display: grid;
justify-content: center;
align-content: center;
position: relative;
  z-index: 999;
}

h1 {
margin-top: -120px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 4.3em;
  line-height: 1.7em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 3px 3px 30px black;
  text-align: center;
}

.landing p {

  color: #fff;
  text-align: center;
  letter-spacing: 0.6em;
  font-size: 1em;
}

h1 span {
  color: var(--red);

}


main {
height: 1200px;
position: sticky;
background: #fff;
top: 0;
}
/*-----------traits------------*/

.trait_list {
  
  .flex-container {
    
    background-image: url("../img/lg_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row {
    --bs-gutter-x: 0;
  }
  .trait {
    background: rgba(17, 17, 17, 0.9);
    color: #fff;
    text-align: center;
    padding: 30px 15px 50px 15px;
    
    h2 {
      font-size: 2.1em;
      line-height: 1.7em;
    }
    h3 {
      font-size: 1.2em;
      font-weight: 400;
      padding: 20px 0;
    }
    p{
      font-size: 0.7em;
      font-weight: 200;
    }
  }

  .trait:nth-of-type(2n+1) {
    background: rgb(17, 17, 17);
  }
}

/*-----------skills------------*/

.skills {
  h2, {
    padding: 50px 0 0 0;
    text-align: center;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .sub-heading {
    padding: 0  0 20px 0;
    text-align: center;
    font-weight: 700;

  }
  
  .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skill__container {
    padding: 20px;
    background: $graymax;
    color: #fff;

    h4 {
      text-align: center;
    }
    
    p {
      font-size: 12px;
      font-weight: 200;
    }
    .skill__logo {
      float: left;
      height: 100%;
      padding-right: 20px;
      display: flex;
      align-items: center;
      i {
        font-size: 36px;
      }
    }
    
  }
}